[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supervisor = "*"
superlance = "*"
slacker = "*"
prometheus_client = "*"
multicall-py = "*"
requests = "==2.28.2"
blockchain-etl = {git = "https://github.com/jsvisa/blockchain-etl@v3.5.0"}

[dev-packages]
pre-commit = "*"
black = "*"
ipython = "*"
jupyterlab = "*"
pytest = "*"

[pipenv]
allow_prereleases = true
